.text-white {
  color: white;
}

* {
  transition-duration: 0.15s;
}

.text-inher {
  color: inherit;
}

.text-nodecor {
  text-decoration: none;
}

.theme-button {
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: grid;
  grid-column-gap: 2.5rem;
}

.wrapper {
  display: grid;
  padding: 0 3rem;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 30px;
  align-items: start;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

.nav,
.main-block {
  /* grid-area: 1 / 1 / 2 / 2; */
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 2pt;
  box-shadow: rgba(0, 0, 0, 0.048) 0 2pt 4pt;
}

h3.nav-h3 {
  font-family: "Oswald";
  margin: 0;
  padding: 0;
}

.m0 {
  margin: 0;
  margin-right: 0;
}
